<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lp_lastprice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.example.lp_lastprice.android.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.example.lp_lastprice.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lp"
        android:label="@string/app_name"
        android:logo="@drawable/lp"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.lp_lastprice.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.lp_lastprice.Login"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.example.lp_lastprice.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lp_lastprice.MainActivity" />
        </activity>
        <activity
            android:name="com.example.lp_lastprice.Offerte"
            android:label="@string/offerte"
            android:parentActivityName="com.example.lp_lastprice.Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lp_lastprice.Login" />
        </activity>
        <activity
            android:name="com.example.lp_lastprice.Registrazione"
            android:label="@string/title_activity_registrazione"
            android:parentActivityName="com.example.lp_lastprice.Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lp_lastprice.Login" />
        </activity>
        <activity
            android:name="com.example.lp_lastprice.Offerta"
            android:label="@string/title_activity_offerta"
            android:parentActivityName="com.example.lp_lastprice.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lp_lastprice.MainActivity" />
        </activity>
        <activity
            android:name="com.example.lp_lastprice.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.SellerActivity"
            android:label="@string/title_activity_seller" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.NewOfferActivity"
            android:label="@string/title_activity_new_offer" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.AddOfferActivity"
            android:label="@string/title_activity_add_offer" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.AdminActivity"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.MapsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.Registrazione2Activity"
            android:label="@string/title_activity_registrazione2" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.CategoriaActivity"
            android:label="@string/title_activity_categoria" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.PagamentiActivity"
            android:label="@string/title_activity_pagamenti" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.ActiveUsersActivity"
            android:label="@string/title_activity_active_users" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.RefundsActivity"
            android:label="@string/title_activity_refunds" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.TransactionActivity"
            android:label="@string/title_activity_transaction" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.LastPriceFragment"
            android:label="@string/title_activity_last_price" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.DettagliActivity"
            android:label="@string/title_activity_dettagli" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.RipeilogoActivity"
            android:label="@string/title_activity_ripeilogo"
             >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.ActiveOffersActivity"
            android:label="@string/title_activity_active_offers" >
        </activity>
        <activity
            android:name="adapter.VacanzeFragment"
            android:label="@string/title_activity_vacanze_fragment" >
        </activity>
        <activity
            android:name="adapter.BenessereFragment"
            android:label="@string/title_activity_benessere_fragment" >
        </activity>
        <activity
            android:name="adapter.SportActivity"
            android:label="@string/title_activity_sport" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.HolidayFragment"
            android:label="@string/title_activity_holiday_fragment" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.WellnessFragment"
            android:label="@string/title_activity_wellness_fragment" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.SportsFragment"
            android:label="@string/title_activity_sports_fragment" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.CatActivity"
            android:label="@string/title_activity_cat" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.SvagoFragment"
            android:label="@string/title_activity_svago" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.RestaurantFragment"
            android:label="@string/title_activity_restaurant" >
        </activity>
        <activity
            android:name="com.example.lp_lastprice.TecnologiaFragment"
            android:label="@string/title_activity_tecnologia" >
        </activity>
    </application>

</manifest>
